.header {
	background-color: #21242b;
	width: 100%;
	height: 8vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.main-container {
	align-items: center;
	display: flex;
	height: 100%;
}

.profil-header {
	margin-left: 5%;
	text-align: center;
	color: #C41E3D;
    cursor: pointer;
	font-size: 18px;
	font-weight: 800;
}

button:hover {
	font-size: 22px;
}

button {
	background-color: transparent;
	background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	transition-duration: 0.4s;
}