@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

@font-face {
	font-family: "Pilowlava-Regular";
	src:	local("Pilowlava-Regular"),
			url("./Pilowlava-Regular.woff2") format("woff2"),
			url("./Pilowlava-Regular.woff") format("woff");
}

::selection {
	color: #ede9fe;
	background: #9333ea;
}

.backgroundTextOutline {
	-webkit-text-stroke: 1px #94A3B8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
 }
